.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: white;
}

.header {
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  justify-content: space-between;
  padding: 4px 20px;
}

.header .logo {
  display: inline-block;
  vertical-align: top;
  height: 2rem;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 10px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.header .welcome {
  margin-right: 10px;
  color: #333;
  font-size: 14px;
}
